[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
gunicorn = "*"
django-rest-api = "*"
autopep8 = "*"
whitenoise = "*"
django-environ = "*"
psycopg2 = {verson = "*",sys_platform = "==linux"}

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[scripts]
sersver = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"

[requires]
python_version = "3"
